[mysqld]
server-id=1
port=3301
basedir=/home/mysql/mysql_3301
datadir=/home/mysql/mysql_3301/data
#临时
tmpdir=/home/mysql/mysql_3301/tmp
pid-file=/home/mysql/mysql_3301/tmp/mysql.pid
socket=/home/mysql/mysql_3301/tmp/mysql.sock
#错误日志
log-error=/home/mysql/mysql_3301/log/mysql-error.log
#执行日志
general-log=true
general-log-file=/home/mysql/mysql_3301/log/mysql-general.log
#慢日志
slow-query-log=true
slow-launch-time=2
slow-query-log-file=/home/mysql/mysql_3301/log/mysql-slow.log

lc-messages-dir=/home/mysql/mysql-8.0.20-linux-x86_64-minimal/share
