[client]
port=3301
socket=/home/Tim/mysql/3301/mysql.socket
[mysqld]
server-id=1
port=3301
basedir=/home/Tim/mysql/mysql-8.0.18-el7-x86_64
datadir=/home/Tim/mysql/3301/data
pid-file=/home/Tim/mysql/3301/mysql.pid
socket=/home/Tim/mysql/3301/mysql.socket
tmpdir=/home/Tim/mysql/3301/tmp
log_error=/home/Tim/mysql/3301/mysql.log
